.users{
    margin-top: 50px;
    text-align: left;
    width: 100%;
    min-width: 600px;
    overflow: hidden;
    
}
.title{
    text-align: left;
}

#user:hover{
    background-color: aliceblue;
    cursor: pointer;
}

@media only screen and (max-width: 320px) {
    .users {
      overflow: auto;
     white-space: nowrap;
    }
  }
