.users {
  margin-top: 50px;
  text-align: left;
  width: 100%;
  min-width: 600px;
}
.title {
  text-align: left;
}

#user:hover {
  background-color: aliceblue;
  color: #333333;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #333333;
  color: #fff;
}

tbody,
thead {
  color: #ddd;
}
